.modal-container {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  width: 100vw;
  backdrop-filter: blur(6px);
  height: 100vh;
  z-index: 15;
  top: 0;
  /* sc */
}
.login-msg-box {
  width: 400px;
  height: 400px;
  position: relative;
  max-width: 60%;
  text-align: center;
  max-width: 90%;
  display: flex;
  box-shadow: 0px 2px 3px black;
  padding: 5px 35px;
  border-radius: 10px;
  gap: 45px;
  justify-content: center;
  color: rgb(7, 0, 0);
  background-color: rgb(0 0 0 / 47%);
  background-color: white;
  position: absolute;
  flex-direction: column;
}
.modal-container-close {
  display: none;
}

.close-img {
  margin: 0;
  width: 35px;
  position: absolute;
  top: 25px;
  right: 25px;
}

.login-page-link {
  text-decoration: none;
  padding: 12px;
  border-radius: 5px;
  /* background-color: rgb(62, 5, 62); */
  background-color: purple;
  text-align: center;
  color: rgb(250, 242, 242);
}
