.product-container {
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  padding: 30px;
  backdrop-filter: blur(8px);
}
.react-loading-skeleton {
  height: 50px;
}
.product-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.card-category {
  color: rgb(129, 9, 111);
  position: relative;
  top: 5px;
  padding: 2px 20px;
}

.fashion-container,
.clothes-container,
.technology-container,
.grocery-container {
  display: flex;
  z-index: 3;
}

@media (max-width: 900px) {
  .product-container {
    padding: 3px;
    gap: 10px;
  }

  .product-box {
    gap: 5px;
  }
  .card-category {
    border-bottom: 2.4px solid rgb(255, 255, 255);
    color: rgb(82, 6, 41);
    padding: 10px 8px;
    font-size: 16px;
  }
}
